<ion-header>
  <ion-toolbar>
    <ion-title>Reading list</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="!isLogged">
  <ion-content>
    <ion-item>
      <a href="/login">Login in </a>
      <p> to see your reading list</p>
    </ion-item>
  </ion-content>
</ng-container>

<ng-container *ngIf="isLogged">
  <ion-content>
    <ion-card *ngFor="let novel of novels">
      <ion-card-header>
        <img src="{{novel.coverHref}}" />
        <ion-card-title>{{novel.title}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content> {{novel.description}} </ion-card-content>
      <ion-card-content>
        <ion-card-subtitle color="tertiary">Last Chapter:</ion-card-subtitle>
        <ion-button (click)="openChapter(novel)" size="small" class="normal-button">
          {{novel.lastChapterTitle}}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
